// 讀取 變數 檔案 ; @use 區域性 ; 一次性 ; 規則 檔案要另給名稱 ; 基於檔案的安全性 ; 要放置在所有語法最上層
@use '_01variable/variable' as Var;
@use '_02mixin/01media' as R;
@use '_02mixin/02mages' as Img;
// 滿版設計 section id="taste" : 設定寬 100 高 100 背景顏色
#taste {
    width: Var.$Num_10 * 10 * Var.$Per;
    height: Var.$Num_10 * 10 * Var.$Per;
    background-color:burlywood;
}
// 子選擇器(指定階層 > : 同層之中不能有相同的標籤,若有相同須設定 id 或 class) ; 子孫選擇器(跨標籤讀取 利用「空格」)
// 巢狀寫法
// menu(背景圖片取代文字呈現) 與 Logo(水平垂直置中) 要同一列 ; 聯絡資訊要個別一列(文字寬度為90% ; 文字靠右對齊,文字顏色 咖啡色) ; 隱藏項目符號
header {
    // 顯示方法 : 彈性佈局(智能對齊) ; 在需要排版物件的父框架設定 ; 會將所有的子物件排成一列
    display: flex;
    // 換行,將子物件設定為 兩列 ; 預設值會自動判斷 子物件 的寬度(均分) ; 要設定 子物件 的寬度才會有作用
    flex-wrap: wrap;
    list-style-type: none;
    #menu {
        width: Var.$Num_10 * 1.5%;
        color: rebeccapurple;

        // // 背景圖片取代文字顯示
        // // 1.設定背景圖片連結 2.背景圖片不重複 3.背景圖片的對齊(定位點XY-水平垂直置中)
        // // 4.位移文字(首行縮排-班行文字的第一行) 5. 圖片尺寸設定(預設值:自動)
        // background-image: url(../../images/icons/list.svg);
        // background-repeat: no-repeat;
        // background-position: center;
        // // auto(預設值:自動) cover(滿版覆蓋框架尺寸) contain(滿版留白) | 個別設XY的值(例如:background-size: 50% 30%;)
        // background-size: contain;
        // text-indent: -9999px;
        @include Img.Images(center, contain, icons, "list.svg");//@mixin Images($Pos, $Size, $Folder, $Img)

        background-color: blue;
        // // #{} 格式,會將「變數設定成字串」的內容轉譯為「選擇器」或是「屬性名稱」
        // @media #{Var.$sm} {
        // //@media screen and (min-width: Var.$Width-Small) {
        //     width: Var.$Num_10 * 1.3%;
        //     background-color: orangered;
        // }
        // @media screen and (min-width: Var.$Width-Medium) {
        //     width: Var.$Num_10 * 1.3%;
        //     background-color: purple;
        // }

        // @include R.Rwd(sm){
        //     width: Var.$Num_10 * 1.3%;
        //     background-color: orangered;
        // }
        // @include R.Rwd(md){
        //     width: Var.$Num_10 * 1.3%;
        //     background-color: purple;
        // }
    }
    h1 {
        width: Var.$Num_10 * 8.5%;
        background-color: rosybrown;
        // @media #{Var.$sm} {
        // //@media screen and (min-width: Var.$Width-Small) {
        //     width: Var.$Num_10 * 8.7%;
        //     background-color: royalblue;
        // }

        // @include R.Rwd(sm){
        //     width: Var.$Num_10 * 8.7%;
        //     background-color: greenyellow;
        // }
    }
    ul {
        width: Var.$Num_10 * 10%;
    }
}

main{
    background-color: cadetblue;
    @include R.Rwd(sm){
        background-color: darkgreen;
    }
}

// //原生CSS的媒體判斷
// @media screen and (min-width:576px) {
//     header{
//         #menu{
//             width: Var.$Num_10 * 1.3%;
//             background-color: orangered;
//         }
//         h1 {
//             width: Var.$Num_10 * 8.7%;
//             background-color: rosybrown;
//         }
//     }
// }


@include R.Rwd(sm) {
    header {
        #menu {
            width: Var.$Num_10 * 1.3%;
            background-color: orangered;
        }
        h1 {
            width: Var.$Num_10 * 8.7%;
            background-color: royalblue;
        }
        ul {
            width: Var.$Num_10 * 10%;
        }
    }
}

@include R.Rwd(md) {
    header {
        #menu {
            width: Var.$Num_10 * 1.3%;
            background-color: purple;
        }
        h1 {
            width: Var.$Num_10 * 8.7%;
            background-color: greenyellow;
        }
        ul {
            width: Var.$Num_10 * 10%;
        }
    }
}