// 宣告變數 : 設定名稱後給予值,值會變但名稱不會變 ; 值能夠為「數字、文字(字串)、顏色、變數」

// 宣告單位變數 px(像素 絕對值) % vw vh em rem(相對值) ; em rem 這兩單位會設定「文字」 ; % vw vh ( % 請勿與 vw vh 的單位共用,因為單位不相容 ; vw vh 瀏覽器的支援度比較少)
$Px: 1px;
$Per: 1%; // percentage

// 寬度 width ; 高度 height ; 基礎值
$Num_10: 10;

// 設定媒體判斷尺寸的變數
$Width-Small: 576px;
$Width-Medium: 768px;