* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes RoundAN {
  4% {
    opacity: 1;
    filter: alpha(opacit=100);
    -webkit-filter: alpha(opacit=100);
  }
  20% {
    opacity: 1;
    filter: alpha(opacit=100);
    -webkit-filter: alpha(opacit=100);
  }
  24% {
    opacity: 0;
    filter: alpha(opacit=0);
    -webkit-filter: alpha(opacit=0);
  }
}

@keyframes RoundAN {
  4% {
    opacity: 1;
    filter: alpha(opacit=100);
    -webkit-filter: alpha(opacit=100);
  }
  20% {
    opacity: 1;
    filter: alpha(opacit=100);
    -webkit-filter: alpha(opacit=100);
  }
  24% {
    opacity: 0;
    filter: alpha(opacit=0);
    -webkit-filter: alpha(opacit=0);
  }
}
#taste {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 0px) {
  #Banner {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
  }
  #Banner ul {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #Banner ul li {
    width: 100%;
    height: 100%;
    animation: RoundAN 25s linear infinite;
    -webkit-animation: RoundAN 25s linear infinite;
    opacity: 0;
    filter: alpha(opacit=0);
    -webkit-filter: alpha(opacit=0);
    position: absolute;
  }
  #Banner ul .Images1 {
    background-image: url(../../images/photo/001.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  #Banner ul .Images2 {
    background-image: url(../../images/photo/002.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  #Banner ul .Images3 {
    background-image: url(../../images/photo/003.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  #Banner ul .Images4 {
    background-image: url(../../images/photo/004.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  #Banner ul .Images5 {
    background-image: url(../../images/photo/005.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  #Banner li:nth-child(5) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    display: block;
  }
  #Banner li:nth-child(4) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    display: block;
  }
  #Banner li:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    display: block;
  }
  #Banner li:nth-child(2) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    display: block;
  }
  #Banner li:nth-child(1) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
    display: block;
  }
  header {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    position: fixed;
    top: 0;
  }
  header #menu {
    width: 15%;
    color: rebeccapurple;
    background-image: url(../../images/icons/list.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-color: blue;
  }
  header h1 {
    width: 85%;
    height: 50px;
    text-align: center;
    background-color: red;
  }
  header h1 li {
    margin-top: 9px;
  }
  header .ConnBox {
    display: none;
  }
  header nav {
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    background-color: white;
    display: none;
  }
  header nav #menuheader {
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(22, 136, 111);
  }
  header nav #menuheader #close {
    display: inline-block;
    font-size: 1.5rem;
    padding: 2px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
  }
  header nav #menuheader #close a {
    color: white;
    text-decoration: none;
  }
  header nav #menuheader > h1 {
    font-size: 2rem;
  }
  header nav #menunav {
    width: 80%;
    margin-top: 160px;
  }
  header nav #menunav .NH {
    height: 75px;
  }
  header nav #menunav h2 {
    padding: 2.5px 0;
    border-bottom-color: rgb(22, 136, 111);
    border-bottom-width: 4px;
    border-bottom-style: double;
  }
  header nav #menunav .Conn {
    margin-top: 20px;
  }
  header nav #menuicon {
    width: 85%;
    height: 60px;
    border-top-color: rgb(22, 136, 111);
    border-top-width: 2px;
    border-top-style: solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    z-index: 10;
    position: fixed;
    bottom: 0;
    margin-left: 7.5%;
    background-color: white;
  }
  .Items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Items li {
    width: 100%;
    text-indent: 8%;
    font-size: 1.2rem;
  }
  .Items .One {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .Items .Two {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .Items .Three {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .Items .Four {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .Items .Five {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .Items .Six {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #main {
    width: 85%;
    margin-top: 65px;
  }
  #main nav li {
    width: 100%;
    height: 150px;
    margin: 15px 0;
    background-color: rgb(146, 61, 61);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-indent: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main .Null {
    height: 135px;
  }
  #Banner {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    position: fixed;
    top: 0;
    background-color: rgb(255, 208, 0);
  }
  footer {
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
    font-size: 0.9rem;
    background-color: rgb(22, 136, 111);
  }
}
@media screen and (min-width: 576px) {
  header #menu {
    width: 13%;
    background-color: orangered;
  }
  header h1 {
    width: 87%;
    background-color: royalblue;
  }
  header ul {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  header #menu {
    width: 13%;
    background-color: purple;
  }
  header h1 {
    width: 87%;
    background-color: greenyellow;
  }
  header ul {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  #taste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header {
    width: 40%;
    height: 100%;
    background-color: brown;
  }
  header #menu {
    display: none;
  }
  main, #menu {
    width: 60%;
    height: 80%;
    background-color: olivedrab;
  }
  main nav, #menu nav {
    background-color: blueviolet;
  }
  footer {
    width: 60%;
    height: 20%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: goldenrod;
  }
  header .ConnBox {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    background-color: aquamarine;
  }
  main {
    display: none;
  }
  footer .ConnBox {
    display: none;
  }
}