* {
  margin: 0 auto;
  padding: 0;
}

html, body {
  height: 100%;
}

#taste {
  width: 100%;
  height: 100%;
  background-color: burlywood;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}
header #menu {
  width: 15%;
  color: rebeccapurple;
  background-image: url(../../images/icons/list.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-color: blue;
}
header h1 {
  width: 85%;
  background-color: rosybrown;
}
header ul {
  width: 100%;
}

main {
  background-color: cadetblue;
}
@media screen and (min-width: 576px) {
  main {
    background-color: darkgreen;
  }
}

@media screen and (min-width: 576px) {
  header #menu {
    width: 13%;
    background-color: orangered;
  }
  header h1 {
    width: 87%;
    background-color: royalblue;
  }
  header ul {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  header #menu {
    width: 13%;
    background-color: purple;
  }
  header h1 {
    width: 87%;
    background-color: greenyellow;
  }
  header ul {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  header {
    width: 40%;
    float: left;
    background-color: brown;
  }
  main, #menu {
    width: 60%;
    height: 80%;
    float: right;
    background-color: olivedrab;
  }
  footer {
    width: 60%;
    height: 20%;
    float: right;
    background-color: goldenrod;
  }
}